<?xml version="1.0"?>

<model>
  <name>Logistics League Field Challenge</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
   <name>Wataru Uemura</name>
   <email>wataru@rins.ryukoku.ac.jp</email>
  </author>

  <description>
    The RoboCup Logistics League Field for Challenge
  </description>
</model>
